<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Basar Verwaltung</a>
        <button type="button" class="navbar-toggler d-lg-none" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleState()">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div id="navbar" class="navbar-collapse" id="navbarsExampleDefault" [ngClass]="{'collapse': isIn} ">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/bazaar']" (click)="toggleState()">Basare verwalten</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/provider']" (click)="toggleState()">Nummernvergabe</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/receipt']" (click)="toggleState()">Verkauf</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/receipt-overview']" (click)="toggleState()">Beleg Übersicht</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" [routerLink]="['/provider-settlement-overview']" (click)="toggleState()">Abrechnung</a></li>
        </ul>
      </div><!--/.nav-collapse -->

  </nav>
</header>
