<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class=" form-group row">
    <div class="col-md-3">
    <label for="listnumber">Listennummer</label>
    <input
      type="text"
      id="listnumber"
      class="form-control"
      formControlName="listnumber"
      [focus]="focusNewEntry"
      [onReturn]
    >

    </div>
    <div class="col-md-3">
    <label for="itemnumber">Teilenummer</label>
    <input
      type="text"
      id="itemnumber"
      class="form-control"
      formControlName="itemnumber"
      [onReturn]
    >
    </div>
    <div class="col-md-3">
    <label for="itemAmount">Preis</label>
    <input
      type="number"
      id="itemAmount"
      class="form-control"
      formControlName="itemAmount"
    >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <show-errors [control]="myForm.controls.listnumber"></show-errors>
    </div>

    <div class="col-md-3">
      <button type="submit" class="btn btn-success" >Speichern</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onDelete()"
        *ngIf="isEdit">Löschen
      </button>
    </div>
  </div>
</form>

