<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  <div class=" form-group col-md-2">
    <label for="listnumber">Listennummer</label>
    <input
      type="text"
      id="listnumber"
      class="form-control"
      formControlName="listnumber"
      [focus]="focusNewEntry"
      [onReturn]
    >
  </div>
  <div class=" form-group  col-md-2">
    <label for="itemnumber">Teilenummer</label>
    <input
      type="text"
      id="itemnumber"
      class="form-control"
      formControlName="itemnumber"
      [onReturn]
    >
  </div>
  <div class=" form-group  col-md-2">
    <label for="itemAmount">Preis</label>
    <input
      type="number"
      id="itemAmount"
      class="form-control"
      formControlName="itemAmount"
    >
  </div>
  <div class="col-md-12">
      <!--<button type="submit" class="btn btn-success" [disabled]="!myForm.valid">Speichern</button>-->
      <button type="submit" class="btn btn-success">Speichern</button>
      <button
        type="button"
        class="btn btn-danger"
        (click)="onDelete()"
        *ngIf="isEdit">Löschen
      </button>
    </div>
</form>

