<table class="table" style="z-index: 100">
  <thead>
  <tr>
    <th>Bazar name</th>
    <th>Datum</th>
    <th>Listnummer von</th>
    <th>Listnummer bis</th>
    <th>Wechselgeld</th>
    <th>Geb&uuml;hr</th>
    <th>Prozentabzug</th>
  </tr>
  </thead>
  <tbody>
  <tr

    style="cursor: pointer"
    *ngFor="let bazaar of bazaars"
    (click)="onSelectItem(bazaar)"

  >
    <td>{{bazaar.name}}</td>
    <td>{{bazaar.bazaardate}}</td>
    <td>{{bazaar.listnumber_start}}</td>
    <td>{{bazaar.listnumber_end}}</td>
    <td>{{bazaar.change | currency:'EUR':symbol}}</td>
    <td>{{bazaar.fee | currency:'EUR':symbol}}</td>
    <td>{{bazaar.percentageoff}} %</td>
  </tr>
  </tbody>
</table>

